#start-btn
{
    width: 40%;
} 
#camera
{
    width:360px;
    height: 250px;
    border:1px solid grey;
}
#logo_img
{
    width: 150px;
    border-radius: 100px;
}
#textbox
{
    width: 300px;
}
body{
background:url('pur_back.webp');
background-size:cover;
font-family: 'Dancing Script', cursive;
font-family: 'La Belle Aurore', cursive;
font-family: 'Sevillana', cursive;
}
#word{
color:white;
font-family: 'Dancing Script', cursive;
font-family: 'La Belle Aurore', cursive;
font-family: 'Sevillana', cursive;
}